@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	width: 100%;
	top: 0;
	padding: 1.5em;
	position: fixed;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 7.5em;
	letter-spacing: .85em;
	line-height: 3em
}

.intro {
	padding: 12em 6em;
}

.intro p {
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	color: #343144;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	line-height: 1.8;
	letter-spacing: .325em;
}

.footer-credit {
	float: right;
	width: 40%;
	text-align: right;
	position: relative;
}

.footer-disclaimer {
	float: left;
	width: 60%;
	position: relative;
}



















/* Pre-defined CSS */

body {
	font-family: arial, sans-serif;
	font-size: 1vw;
	background: white;
}
img { 
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
a, a:visited {
	color: inherit;
}
header {
	z-index: 1000;
}
.site-logo {
	position: relative;
	display: block;
	float: left;
	width: 5.1em;
}
.site-logo img {
	width: 10.1em;
}
.logo {
	opacity: 0.5;
}
.site-nav {
	position: relative;
	float: right;
	z-index: 400;
	top: 0;
	left: 0;
	display: block !important;
	width: 80%;
	padding: .75em 1em 0 0;
	opacity: .95;
	background: none;
}
.site-nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
}
.site-nav ul li {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 1.5em;
}
.site-nav ul li a {
	font-size: .85em;
	padding-bottom: .5em;
	text-decoration: none;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.site-nav ul li a:hover {
	outline: none;
	border-bottom: 1px solid white;
}
.hero {
	position: relative;
	height: 40vw;
	background-image: -webkit-linear-gradient(bottom left, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
	background-image: -o-linear-gradient(bottom left, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
	background-image: linear-gradient(to top right, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}
.hero-content {
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	color: #fff;
	position: absolute;
	z-index: 20000;
	padding-top: 4em;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
h2 {
	font-weight: 100;
	font-size: 2em;
	line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
h1 {
	margin-bottom: 1.5%;
	text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
	margin-left: .7em;
}
h3 {
	font-size: 2.5em;
	font-weight: 100;
	line-height: 2.75;
	letter-spacing: .35em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}

illustarte{
	font-size: 1.5em;
	color: white;
	font-weight: 100;
	line-height: 2.75;
	letter-spacing: .35em;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
	text-align: center;
}

.intro {
  	position: relative;
	height: 0vw;
	background: #fff;
}

.illu{
	font-family: 'Microsoft Yahei', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	color: black;
	line-height: 1.9;
	text-align: center;
}
/*
.artworks {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.artwork {
	display: flex;
	height: 40vw;
}
.artwork .artwork-piece {
	padding: 0% 0 0% 0%;
	background-image: -webkit-linear-gradient(top left, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
	background-image: -o-linear-gradient(top left, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
	background-image: linear-gradient(to bottom right, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
	width: 20%;
}
.artwork-piece figure {
	position: relative;
}
.artwork-piece figure img {
	position: relative;
	z-index: 100;
	height: 22.7vw;
}
*/
.artwork-description{
	position: relative;
	width: 100%;
}

.artwork-description {
	background-color: aliceblue;
	color: #BA4749;
	height: 13vw;
}

.artwork-description .artwork-text {
	padding: 1.2em 0em 0em;
	font-size: 3em;
	line-height: 1.9;
	opacity: .7;
	text-align: center;
}

.maincontent {
	position: relative;
	width: 100%;
	padding: 1.2em 0em 5em 0em;
	display: flex;
	height: 40vw;
}

.maincontent .charx {
	margin-left: 20px;
	margin-right: 20px;
	background-image: -webkit-linear-gradient(top left, rgb(255,255,225) 0%, rgb(83,200,234) 100%);
	background-image: -o-linear-gradient(top left, rgb(255,255,225) 0%, rgb(83,200,234) 100%);
	background-image: linear-gradient(to bottom right, rgb(255,255,225) 0%, rgb(83,200,234) 100%);
	width: 50%;
	border-radius: 30px;
	
}

.charx .chartext{
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	font-display: block;
	font-size: 7em;
	color: palevioletred;
	font-weight: 100;
	padding: 1.2em 0em 0em;
	line-height: 1.9;
	opacity: 1;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0,.2);
}


.maincontent .codex {
	margin-left: 20px;
	margin-right: 20px;
	background-image: -webkit-linear-gradient(top left, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(top left, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
	background-image: linear-gradient(to bottom right, rgb(83,200,234) 0%, rgb(0,0,0) 130%);
	width: 50%;
	border-radius: 30px;
}


.codex .codetext{
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	font-display: block;
	font-size: 7em;
	color: white;
	font-weight: 300;
	padding: 1.2em 0em 0em;
	line-height: 1.9;
	opacity: 1;
	text-align: center;
}

.maincontent .creatx {
	margin-left: 20px;
	margin-right: 20px;
	background-image: -webkit-linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
	background-image: -o-linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
	background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
	width: 50%;
	border-radius: 30px;
}

.creatx .creattext{
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	font-display: block;
	font-size: 7em;
	color: black;
	font-weight: 300;
	padding: 1.2em 0em 0em;
	line-height: 1.9;
	opacity: 1;
	text-align: center;
}

.maincontent .coolx {
	margin-left: 20px;
	margin-right: 20px;
	background-image: -webkit-linear-gradient(to top, #f43b47 0%, #453a94 100%);
	background-image: -o-linear-gradient(to top, #f43b47 0%, #453a94 100%);
	background-image: linear-gradient(to top, #f43b46 0%, #453a94 100%);
	width: 50%;
	border-radius: 30px;
}

.coolx .cooltext{
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	font-display: block;
	font-size: 7em;
	color: cadetblue;
	font-weight: 300;
	padding: 1.2em 0em 0em;
	line-height: 1.9;
	opacity: 0.6;
	text-align: center;
}


footer {
	margin-top: -3.5em;
	padding-top: 10em;
	background-image: -webkit-linear-gradient(bottom left, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
	background-image: -o-linear-gradient(bottom left, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
	background-image: linear-gradient(to top right, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}
.footer-content {
	width: 64%;
	margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-social {
	display: block;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
.footer-social li {
	display: inline-block;
	margin: 0 1.2em;
}
.footer-social li a {
	line-height: 3.5em;
	display: block;
	width: 4em;
	height: 4em;
	text-align: center;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 48%;
}
.footer-social li a:hover {
	border-color: #fff;
	background: #fff;
}
.footer-social li a img {
	width: auto;
	height: 4em;
}
.footer-social li a .social-hover {
	display: inline-block;
/*
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 20px;
*/
/*
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
*/
	transition: all 1s;
}
.footer-social li a:hover .social-default {
	display: block;
}

.footer-social li a:hover .social-hover {
	background: url("./images/weixin.png") center no-repeat ;
}
